<!--     FileName: index.ejs      -->
<!--     Author: Dixit Hihoriya   -->
<!--     StudentID: 301201312     -->
<!--     Date : 19th June 2022     -->

<!DOCTYPE html>
<html lang="en">

<body>

  <main style="margin-bottom: 10%;">
    <%- include ('partials/navbar.ejs') %>
      <!--     Changing the Content of Webpage based on title      -->
      <% if(title=="About Me" ){ %>
        <%- include ('partials/aboutme.ejs') %>
          <% } else if(title=="Home" ){ %>
            <%- include ('partials/home.ejs') %>
              <% } else if(title=="Projects" ){ %>
                <%- include ('partials/projects.ejs') %>
                  <% } else if(title=="Contacts" ){ %>
                    <%- include ('partials/contacts.ejs') %>
                      <% } else if(title=="Services" ){ %>
                        <%- include ('partials/services.ejs') %>
                          <% } else if(title=="Login" ){ %>
                            <%- include ('auth/login.ejs') %>
                              <% } else if(title=="Register" ){ %>
                                <%- include ('auth/register.ejs') %>
                                  <% } %>

  </main>

  <%- include ('partials/footer.ejs') %>
</body>

</html>